// Close panel button
a.close
	float right
	width 24px
	height 24px
	background-image url("images/icons.png")
	background-position 0 -72px

	&:hover
		background-position 0 -96px
		
	@media only screen and (orientation: landscape)

		background-position -24px -72px

		&:hover
			background-position -24px -96px

// Image replacement
.ir
	background-color transparent
	border 0
	overflow hidden

	&:before
		content ""
		display block
		width 0
		height 150%


// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px

	/*
	 * Extends the .visuallyhidden class to allow the element to be focusable
	 * when navigated to via the keyboard: h5bp.com/p
	 */

	&.focusable:active
	&.focusable:focus
		clip auto
		height auto
		margin 0
		overflow visible
		position static
		width auto
