// Spot description (teaser & detail panel) content
	
section#teaser,
section#description
	
	&.unverified h2
		color: colors.supplementary-text

	span.unverified
		color: colors.supplementary-text
		font-size 0.8rem
	
	ul
		list-style none
		
	section
		margin-bottom 1.5rem
		clear both

// Inline decorative images
section#sports li:before,
section#elevation:after,
section#forecast li a:before,
section#google-maps-link a:before
	content " "
	display block
	float left
	background-image url("images/icons.png")
	width 24px
	height 24px
	vertical-align text-bottom

section#sports
section#forecast
	li
		display inline-block
		margin-right 1rem

section#forecast li a
	padding-left 0.2rem

section#sports li:before
	margin-right 0.2rem

section#elevation:after
	width 48px
	height 24px
	margin-right 0.2rem

section#sports
	li.windsurfing:before
		background-position 0 0

	li.kiteboarding:before
		background-position -24px 0

	li.landkiting:before
		background-position -48px 0

	li.snowkiting:before
		background-position -72px 0

section#elevation
	&.land:after
		background-position 0 -120px

	&.snow:after
		background-position 0 -144px

section#forecast
	li.windguru-link a
		&:before
			background-position 0 -48px

		&:hover:before
			background-position 0 -24px

	li.windfinder-link a
		&:before
			background-position -24px -48px

		&:hover:before
			background-position -24px -24px

section#google-maps-link a
	&:before
		background-position -48px -48px

	&:hover:before
		background-position -48px -24px

// colorlul image for devices which do not support hover effect
@media (hover: none)
	section#forecast
		li.windguru-link a:before
			background-position 0 -24px

		li.windfinder-link a:before
			background-position -24px -24px

	section#google-maps-link a:before
		background-position -48px -24px

section#teaser
	color: colors.text // because of the link wrapping it

	// Full-width bottom teaser
	@media only screen and (orientation: portrait)
		section
			float left
			clear none

/* Wide details panel (more than 25rem = 400px)
	- portrait = bottom panel
	- landscape = left panel: 40% of 62.5rem (1000px) viewport */
@media
only screen and (min-width: 25rem) and (orientation: portrait),
only screen and (min-width: 62.5rem) and (orientation: landscape)

	section#description
		section#sports,
		section#forecast
			float left

		section#elevation,
		section#google-maps-link
			float right
			clear right
