#on-the-top
	text-align center
	
	p.loading
		height 15rem
		background url("images/loader.gif") center center no-repeat

	table.chart
		width 100%
		max-width 40rem
		text-align left
		position relative // for absolute positioned bars
		border-collapse separate
		margin-bottom 0 !important // tbody margin instead

		td
			line-height 22px
			border-top 1px solid transparent
			border-bottom 1px solid transparent

		tbody tr:last-child td
			border-bottom 25px solid transparent // 1rem + 1px

		td.label
			white-space nowrap

			a
				padding-left .5rem
				color: colors.text
				display inline-block
				width 100%

				&:hover
					text-decoration none

		td.elevation
			white-space nowrap
			text-align right
			padding-right .5rem

		td.bar
			position absolute
			left 0
			right 0
			z-index -1
			opacity .4

		td.elevation > span,
		td.bar > span
			display inline-block

		td.bar > span.fill
			border-right 4px solid #fff
			animation-name grow-bar
			animation-duration 1s

			@keyframes grow-bar
				from
					width 0%

		td.bar > span.bg
			position absolute
			left 0
			right 0
			top 0
			background-color hsl(0, 0%, 95%)
			z-index -2

		// remove inline color only for narrow viewport
		@media only screen and (max-width: 24.999999999999rem)

			td.elevation > span
				
				background none !important

		// long names fit in 320px viewport without vertical scrolling
		@media only screen and (max-width: 330px)

				font-size .9rem

		@media only screen and (min-width: 25rem)

			td.label
				text-align right

				a
					padding-right .5rem
					color: colors.link
					width auto

					&:hover
						text-decoration underline

				tr:nth-child(odd) td.label a
					background linear-gradient(90deg, hsl(0, 0%, 100%), hsl(0, 0%, 95%))

				td.label span.region
					font-size 1rem


			td.elevation
				overflow hidden // to hide overflowing span because of 100% width with padding
				text-align left
				padding-right 0

			td.elevation > span
				width 100%
				padding-left .3rem

			td.bar
				position static
				width 100%
				opacity 1

			td.bar
				> span.fill
					border-right: 1px solid colors.border

				> span.bg
					display none


			tr:hover
				td.elevation > span
					background hsl(0, 0%, 95%) !important // replace inline style

				td.bar > span
					background-image background -webkit-linear-gradient(left, hsl(0, 0%, 95%), hsl(0, 0%, 90%)) !important // replace inline style
					background-image background -o-linear-gradient(left, hsl(0, 0%, 95%), hsl(0, 0%, 90%)) !important // replace inline style
					background-image background linear-gradient(to right, hsl(0, 0%, 95%), hsl(0, 0%, 90%)) !important // replace inline style
