header

	header-height = 50px
	input-width = 13rem
	items-spacing = .5rem

	display flex
	height header-height
	width 100%
	position fixed
	min-width viewport-min-width // needs to be explicitly defined because of fixed position
	top 0
	z-index 1
	border-bottom: 1px solid colors.border
	background-color: colors.panel-background

	a#logo
		flex 0 1 auto
		padding-top 3px
		padding-right 3px
		padding-left 5px
		height (header-height - @padding-top)
		overflow hidden // hide bigger logo

		&:focus, &:active
			outline none

	h1, label
		display none

	nav
		flex 0 1 auto
		order 2

		a
			display inline-block
			line-height header-height
			padding 0 items-spacing
			color: colors.supplementary-text

			&:hover
				padding-top 2px // add border, but do not move text
				border-bottom: @padding-top solid colors.secondary
				line-height (header-height - (2 * @padding-top))
				text-decoration none

	.search
		flex 1 1 auto
		order 1
		line-height header-height
		margin 0 items-spacing

		.react-autosuggest

			&__container
				display none

				input
					width 100%
					border none
					border-bottom: 1px solid colors.border
					background-color transparent
					outline 0
					padding 0 1px
					opacity 0.1
					transition opacity .4s

					+placeholder()
						color: colors.text
						opacity .5

					&:focus
						outline 0
						opacity 1

			&__suggestions-container
				position absolute
				left 0
				right 0
				list-style-type none
				background-color: colors.panel-background
				z-index 2
				border-top: 1px solid colors.border
				border-bottom: 1px solid colors.border

			&__suggestion
				cursor pointer
				line-height 2rem
				white-space nowrap
				padding 0 1rem
				
				strong
					color: colors.secondary

				&--focused
					background-color: colors.selected

	&.search-active

		nav a.search-link
			display none

		.search .react-autosuggest__container
			display inline-block



	+after_breakpoint(25rem)
	// right-aligned search and less then 100% width suggestions

		items-spacing = 1rem

		nav a
			padding 0 items-spacing

		.search
			margin 0 items-spacing
			text-align right

			.react-autosuggest

				&__container
					text-align left
					width auto

					input
						opacity 1
						width 4rem // animate from 4rem to approximately fit the menu item width
						transition width .4s

						&:focus
							width input-width

				suggestions-overlap = .5rem

				&__suggestions-container
					top auto
					left auto
					right auto
					border: 1px solid colors.border
					min-width (input-width + 2*suggestions-overlap)
					margin-left (0 - suggestions-overlap)

				&__suggestion
					padding 0 suggestions-overlap


	+after_breakpoint(30rem)
	// show h1, but hide when search active

		h1
			display block
			line-height header-height

		&.search-active h1
			display none


	+after_breakpoint(35rem)
	// show h1 all the time

		&.search-active h1
			display block
