// Main layout

viewport-min-width = 320px

html, body
	height 100%
	position relative
	min-width viewport-min-width

.map
	position absolute
	top 0
	left 0
	right 0
	bottom 0

.spotmap
	position absolute
	top 0
	left 0
	right 0
	bottom 50%
	
section#teaser
section#description
	position absolute
	bottom 0
	left 0
	right 0
	background-color: colors.panel-background
	padding 1.5rem
	padding-bottom 0
	border-top: 1px solid colors.border
	
section#description
	top 50%
	bottom auto
	background-color: colors.background
	

@media only screen and (orientation: landscape)

	section#teaser
		top 60px
		left 10px
		bottom auto
		right auto
	
		max-width 20rem
		min-width 15rem

		border: 1px solid colors.border
		border-radius 3px

	section#description
		right 60%
		top 0
		left 0
		bottom 0
		border-top 0
		border-right: 1px solid colors.border
		overflow-y scroll

	.spotmap
		left 40%
		bottom 0
