.standalone

	padding 1.5rem 1rem

	article h1
		font-size 1.6rem
		line-height 4.5rem
		margin-top -1.5rem
		text-align center
		float none

	nav
		position absolute

	nav,
	article p,
	article img,
	table
		margin-left auto
		margin-right auto
		max-width 30rem

	article img
		display block
		max-width none

	article p,
	article img,
	article figure,
	article table,
	form
		margin-bottom 1.5rem