html, input
	font 1em/1.5 "Open Sans", sans-serif // 16px in most browsers; baseline = 1.5rem = 24px
	font-weight 300
	color: colors.text

a
	color: colors.link
	text-decoration none

	&:hover
		text-decoration underline

h1
	font-size 1.9rem
	font-weight 300

h2
	color: colors.secondary
	font-size 1.25rem
	line-height 1.5rem
	font-weight 300
	margin-bottom 1.5rem

h3
	font-size 1rem
	line-height 1.5rem
	margin-bottom .2rem
	margin-top -.2rem
	font-weight 500

.wfx, .wfx:hover
	text-decoration none

.wfx

	span.wind
		color: colors.tertiary

	span.freaks
		color: colors.secondary
