figure.infographic
	text-align center

	dl.number
		display inline-block
		text-align left

		dt
			display inline-block
			font-size 2.5rem
			line-height 3rem
			color: colors.secondary

		dd
			display inline-block
			width 8rem
			margin-left .5rem
			/* Linebreak inside inline block causes extra space for some reason.
			   This is fast way how to fix it. */
			line-height 1.4rem
			

.standalone article .social-links
	text-align center
	margin-top 3rem
	margin-bottom 0

	a
		display inline-block
		width 36px
		height 36px
		background-image url("images/icons.png")
		margin 0 .5rem

		&.twitter
			background-position -72px -24px

		&.facebook
			background-position -108px -24px

		&.email
			background-position -144px -24px


.buttons
	text-align center

	a
		display inline-block
		color: colors.inverted-text
		text-decoration none
		padding .5rem 1rem
		margin 0 auto .5rem
		background-color: colors.link
		border-radius 2px
		box-shadow: 0 2px colors.border

		&:hover
			text-decoration none
			box-shadow: 0 2px colors.secondary

@media only screen and (orientation: landscape)

	#why nav .close
		float left
